    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }  

    hgroup, aside, header, figure, figurecaption, section{
        display: block;
    }  

    .fila{
        height: auto;
        position: relative;
        width: 100%;    
        margin: auto;
    }

    .fila::after {
        content: "";
        clear: both;
        display: table;
    }

    #redes{
        margin: 2% auto;
        text-align: center;
        padding: 0;
        height: auto;
    }

    .iconoredes {
        max-width:15%
    }

    #retratoprincipal {
        max-width: 90%;
        display: block;
        margin: auto;
        height: auto;
        border-radius: 100%;
    }

    header hgroup {
        text-align: center;
    }
     
    #separador{
        height: 1px;
        width: 80%;
        margin: auto;
        background: black;
    }

    #aboutme {
        text-align: center;
    }

    #aboutme p {
        margin:10px;
    }

    #skills h3{
        margin-bottom: 10px;
    }

    #skills figcaption {
        margin-top: 10px;
    }

    .iconoskills {
        max-width: 20%;
        height: auto;
    }

    #skills article{
        text-align: center;
    }

    #hobbies {
        text-align: center;
    }

    #hobbies h3 {
        margin-bottom: 10px;
    }

    .iconosintpersonales{
        max-width: 7%;
        height: auto;
    }

    /*propiedades globales de las columnas*/

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        float: left;
        padding: 15px;
    }
    
    @media only screen and (max-width: 600px) {
        .no-mostrar{display:none}
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
    }


    @media only screen and (min-width: 600px) {
        /*small portrait tablets and large phones, 600px and up */
        .no-mostrar-sm{display: none;}
        .col-sm-1 {width: 8.33%;}
        .col-sm-2 {width: 16.66%;}
        .col-sm-3 {width: 25%;}
        .col-sm-4 {width: 33.33%;}
        .col-sm-5 {width: 41.66%;}
        .col-sm-6 {width: 50%;}
        .col-sm-7 {width: 58.33%;}
        .col-sm-8 {width: 66.66%;}
        .col-sm-9 {width: 75%;}
        .col-sm-10 {width: 83.33%;}
        .col-sm-11 {width: 91.66%;}
        .col-sm-12 {width: 100%;}
    }
    
    @media only screen and (min-width: 768px) {
        /*medium landscape tablets, 768px and up*/
        .col-md-1 {width: 8.33%;}
        .col-md-2 {width: 16.66%;}
        .col-md-3 {width: 25%;}
        .col-md-4 {width: 33.33%;}
        .col-md-5 {width: 41.66%;}
        .col-md-6 {width: 50%;}
        .col-md-7 {width: 58.33%;}
        .col-md-8 {width: 66.66%;}
        .col-md-9 {width: 75%;}
        .col-md-10 {width: 83.33%;}
        .col-md-11 {width: 91.66%;}
        .col-md-12 {width: 100%;}
    }

    @media only screen and (min-width: 992px) {
        /*large laptops/desktops, 992px and up)*/
        .col-lg-1 {width: 8.33%;}
        .col-lg-2 {width: 16.66%;}
        .col-lg-3 {width: 25%;}
        .col-lg-4 {width: 33.33%;}
        .col-lg-5 {width: 41.66%;}
        .col-lg-6 {width: 50%;}
        .col-lg-7 {width: 58.33%;}
        .col-lg-8 {width: 66.66%;}
        .col-lg-9 {width: 75%;}
        .col-lg-10 {width: 83.33%;}
        .col-lg-11 {width: 91.66%;}
        .col-lg-12 {width: 100%;}
    }

    @media only screen and (min-width: 1200px) {
        /*Extra large large laptops and desktops, 1200px and up*/
        .col-xl-1 {width: 8.33%;}
        .col-xl-2 {width: 16.66%;}
        .col-xl-3 {width: 25%;}
        .col-xl-4 {width: 33.33%;}
        .col-xl-5 {width: 41.66%;}
        .col-xl-6 {width: 50%;}
        .col-xl-7 {width: 58.33%;}
        .col-xl-8 {width: 66.66%;}
        .col-xl-9 {width: 75%;}
        .col-xl-10 {width: 83.33%;}
        .col-xl-11 {width: 91.66%;}
        .col-xl-12 {width: 100%;}
    }
