*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}  

#aboutme {
    text-align: center;
}

    .fila{
        height: auto;
        position: relative;
        width: 100%;    
        margin: auto;
    }

    [class*="col-"]{
        float:left;
        padding: 15px;
    }

    .fila::after {
        content: "";
        clear: both;
        display: table;
    }

    #retratoprincipal {
        max-width: 98%;
        display: block;
        margin: 3% auto;
        height: auto;
        border-radius: 100%;
    }

    .iconoskills {
        max-width: 10%;
        height: auto;
    }

    .iconosinteresespersonales{
        max-width: 10%;
        height: auto;
    }

    /*propiedades globales de las columnas*/

    @media only screen and (max-width: 600px){
        /*Extra small*/
        .col-0:{display: none;}
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }
    @media only screen and (min-width: 600px) {
        /*small portrait tablets and large phones, 600px and up */
        .col-sm-0:{display: none;}
        .col-sm-1 {width: 8.33%;}
        .col-sm-2 {width: 16.66%;}
        .col-sm-3 {width: 25%;}
        .col-sm-4 {width: 33.33%;}
        .col-sm-5 {width: 41.66%;}
        .col-sm-6 {width: 50%;}
        .col-sm-7 {width: 58.33%;}
        .col-sm-8 {width: 66.66%;}
        .col-sm-9 {width: 75%;}
        .col-sm-10 {width: 83.33%;}
        .col-sm-11 {width: 91.66%;}
        .col-sm-12 {width: 100%;}
    }
    
    @media only screen and (min-width: 768px) {
        /*medium landscape tablets, 768px and up*/
        .col-md-0:{display: none;}
        .col-md-1 {width: 8.33%;}
        .col-md-2 {width: 16.66%;}
        .col-md-3 {width: 25%;}
        .col-md-4 {width: 33.33%;}
        .col-md-5 {width: 41.66%;}
        .col-md-6 {width: 50%;}
        .col-md-7 {width: 58.33%;}
        .col-md-8 {width: 66.66%;}
        .col-md-9 {width: 75%;}
        .col-md-10 {width: 83.33%;}
        .col-md-11 {width: 91.66%;}
        .col-md-12 {width: 100%;}
    }

    @media only screen and (min-width: 992px) {
        /*large laptops/desktops, 992px and up)*/
        .col-lg-0:{display: none;}

        .col-lg-1 {width: 8.33%;}
        .col-lg-2 {width: 16.66%;}
        .col-lg-3 {width: 25%;}
        .col-lg-4 {width: 33.33%;}
        .col-lg-5 {width: 41.66%;}
        .col-lg-6 {width: 50%;}
        .col-lg-7 {width: 58.33%;}
        .col-lg-8 {width: 66.66%;}
        .col-lg-9 {width: 75%;}
        .col-lg-10 {width: 83.33%;}
        .col-lg-11 {width: 91.66%;}
        .col-lg-12 {width: 100%;}
    }

    @media only screen and (min-width: 1200px) {
        /*Extra large large laptops and desktops, 1200px and up*/
        .col-xl-0:{display: none;}

        .col-xl-1 {width: 8.33%;}
        .col-xl-2 {width: 16.66%;}
        .col-xl-3 {width: 25%;}
        .col-xl-4 {width: 33.33%;}
        .col-xl-5 {width: 41.66%;}
        .col-xl-6 {width: 50%;}
        .col-xl-7 {width: 58.33%;}
        .col-xl-8 {width: 66.66%;}
        .col-xl-9 {width: 75%;}
        .col-xl-10 {width: 83.33%;}
        .col-xl-11 {width: 91.66%;}
        .col-xl-12 {width: 100%;}
    }
